:root {
  --clr-surface: #f3fff4;
  --clr-accent: green;
  --clr-text: #000000;

  --font-base: "Times New Roman", ui-serif, Georgia, Cambria, Times, serif;

  /* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1240,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.651rem, 0.7054rem + -0.0701vi, 0.6914rem);
  --step--1: clamp(0.7778rem, 0.7766rem + 0.006vi, 0.7813rem);
  --step-0: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --step-1: clamp(0.9844rem, 0.9355rem + 0.2446vi, 1.125rem);
  --step-2: clamp(1.1074rem, 1.023rem + 0.4219vi, 1.35rem);
  --step-3: clamp(1.2458rem, 1.1157rem + 0.6507vi, 1.62rem);
  --step-4: clamp(1.4016rem, 1.2129rem + 0.9433vi, 1.944rem);
  --step-5: clamp(1.5768rem, 1.3138rem + 1.3148vi, 2.3328rem);

  --space-3xs: clamp(0.25rem, 0.25rem + 0vi, 0.25rem);
  --space-2xs: clamp(0.4375rem, 0.4158rem + 0.1087vi, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6875rem + 0vi, 0.6875rem);
  --space-s: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-m: clamp(1.3125rem, 1.269rem + 0.2174vi, 1.4375rem);
  --space-l: clamp(1.75rem, 1.7065rem + 0.2174vi, 1.875rem);
  --space-xl: clamp(2.625rem, 2.5598rem + 0.3261vi, 2.8125rem);
  --space-2xl: clamp(3.5rem, 3.413rem + 0.4348vi, 3.75rem);
  --space-3xl: clamp(5.25rem, 5.1196rem + 0.6522vi, 5.625rem);
}
