---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import Pagination from "src/components/Pagination.astro";
import PdfLink from "src/components/PdfLink.astro";
import MainLayout from "src/layouts/MainLayout.astro";
import { slugify } from "src/libs/string.ts";

const { slug } = Astro.params;
const { data, render } = await getEntry("projects", slug);
const { Content } = await render();

export const getStaticPaths = (async () => {
  const { data: config } = await getEntry("settings", "config");
  const items = await getCollection("projects");
  return items.map((el) => ({
    params: {
      projects: slugify(config.navigation.projects.url),
      slug: el.slug,
    },
  }));
}) satisfies GetStaticPaths;
---

<MainLayout current="projects" currentSlug={slug}>
  <Pagination collection="projects" slug={slug} />
  <h1>{data.title}</h1>
  <Content components={{ PdfLink }} />
</MainLayout>
