---
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout current="home">
  <article class="flow">
    <h1>Le site</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vero ab eum
      veniam, iste a dolorum tempore quisquam, aut, consectetur ut repellat!
      Consectetur, fugiat consequatur error laborum perferendis laboriosam
      excepturi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vero ab eum
      veniam, iste a dolorum tempore quisquam, aut, consectetur ut repellat!
      Consectetur, fugiat consequatur error laborum perferendis laboriosam
      excepturi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vero ab eum
      veniam, iste a dolorum tempore quisquam, aut, consectetur ut repellat!
      Consectetur, fugiat consequatur error laborum perferendis laboriosam
      excepturi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vero ab eum
      veniam, iste a dolorum tempore quisquam, aut, consectetur ut repellat!
      Consectetur, fugiat consequatur error laborum perferendis laboriosam
      excepturi.
    </p>
  </article>
</MainLayout>
