---
import type { ContentCollectionKey } from "astro:content";
import { getCollection } from "astro:content";
import { sort } from "src/libs/collections.ts";
import { subRoutes } from "src/libs/routes.ts";

export type Props = {
  collection: ContentCollectionKey;
  slug: string;
};

const { collection, slug } = Astro.props;
const projects = sort(await getCollection(collection));
const currentIndex = projects.findIndex((el) => el.slug === slug);
const previous = projects[currentIndex - 1]?.slug;
const next = projects[currentIndex + 1]?.slug;
---

<nav>
  {
    previous && (
      <a
        href={
          collection === "projects"
            ? subRoutes.projectsItem(previous)
            : subRoutes.instantsItem(previous)
        }
      >
        <span class="sr-only">précédent</span>
        <span aria-hidden="true">&lt;&lt;</span>
      </a>
    )
  }
  {
    next && (
      <a
        href={
          collection === "projects"
            ? subRoutes.projectsItem(next)
            : subRoutes.instantsItem(next)
        }
        class="next"
      >
        <span class="sr-only">suivant</span>
        <span aria-hidden="true">&gt;&gt;</span>
      </a>
    )
  }
</nav>

<style>
  nav {
    display: flex;
  }
  nav a {
    color: inherit;
    text-decoration: none;
  }
  .next {
    margin-inline-start: auto;
  }
</style>
