---
import type { GetStaticPaths } from "astro";
import MainLayout from "src/layouts/MainLayout.astro";
import { mainRoutes } from "src/libs/routes.ts";
import { getEntry } from "astro:content";
import PdfLink from "src/components/PdfLink.astro";

const about = await getEntry("pages", "about");
const { Content } = await about.render();

export const getStaticPaths = (() => {
  return [
    {
      params: {
        about: mainRoutes.about,
      },
    },
  ];
}) satisfies GetStaticPaths;
---

<MainLayout current="about">
  <Content components={{ PdfLink }} />
  <p>bonjour</p>
</MainLayout>

<style>
  p{
    color: red;
  }
</style>
