---
import type { GetStaticPaths } from "astro";
import MainLayout from "src/layouts/MainLayout.astro";
import { mainRoutes } from "src/libs/routes.ts";

export const getStaticPaths = (() => {
  return [
    {
      params: {
        about: mainRoutes.about,
      },
    },
  ];
}) satisfies GetStaticPaths;
---

<MainLayout current="about">
  <h1>about</h1>
</MainLayout>
